<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanma56.cloud.route.dao.LineRouteMapper">

    <sql id="allColumn">
        id,
        userId,
        lineId,
        seq,
        addressName,
        lng,
        lat,
        pointType,
        updated,
        created,
        arriveTime,
        dispatchTime,
        memo
    </sql>

    <!-- 根据线路ID 查询线路点位列表 -->
    <select id="queryByLineId" resultType="com.hanma56.cloud.route.model.LineRoute">
        select <include refid="allColumn"/>
        from lineRoute where lineId = #{lineId}
    </select>


</mapper>
