<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanma56.cloud.route.dao.LineMapper">

    <sql id="allColumn">
        id,
        lineName,
        startCityName,
        endCityName,
        truckNo,
        contacts,
        contactWay,
        created,
        updated,
        creator,
        modifier,
        memo
    </sql>

    <!-- 通过创建人查询线路列表 -->
    <select id="selectByCreator" resultType="com.hanma56.cloud.route.model.Line">
      SELECT <include refid="allColumn"/>
        FROM line WHERE creator = #{creator}
        <if test="lineName!=null and lineName!=''">
            and lineName like concat('%',#{lineName},'%')
        </if>
        <if test="startCityName!=null and startCityName!=''">
            and startCityName like concat('%',#{startCityName},'%')
        </if>
        <if test="endCityName!=null and endCityName!=''">
            and endCityName like concat('%',#{endCityName},'%')
        </if>
        order by updated desc
    </select>

</mapper>
